[submodule "binaryen"]
	path = binaryen
	url = https://github.com/WebAssembly/binaryen
[submodule "hook-cleaner-c"]
	path = hook-cleaner-c
	url = https://github.com/XRPLF/hook-cleaner-c.git
[submodule "xrpld-hooks"]
	path = xrpld-hooks
	url = https://github.com/XRPL-Labs/xrpld-hooks.git
